body{
  background color: #99BDE4;
  font-family: Georgia, serif;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.column {
  float: left;
  width: 225px;
  margin: 12px;
  border: 5px solid black;

}

.column img {
  width: 75%;
  height: auto;
  padding: 28px;
  align-items: center;
}

.column ul {
  text-align: left;
}

.name {
  font-weight: bold;
}
